@model IEnumerable<Okul.Models.Ders>

@{
    ViewData["Title"] = "Index";
}

<h1>Dersler</h1>

<p>
    <a asp-action="Create">Ders Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DersName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DersName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DersID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DersID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
