@model Okul.Models.Ogrenci

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Öğrenci Detayları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciTcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciTcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciDogumTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciDogumTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciSinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciSinif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OgrenciID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
