@model Okul.Models.Ogretmen

@{
    ViewData["Title"] = "Delete";
}

<h4>Öğretmen Sil</h4>

<h6>Silmek istediğinize emin misiniz?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenTcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenTcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenDogumTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenDogumTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ders.DersName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OgretmenID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
