@model Okul.Models.Ogretmen

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Ogretmen Detayları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenTcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenTcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgretmenDogumTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgretmenDogumTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ders.DersName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OgretmenID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
